* {
    align-items: center;
}

.img-fluid {
    border-radius: 5px;
    box-shadow: 1px 1px 1px darkblue;
    margin: 5px
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 5px;
}

.btn {
    margin-left: -27px;
    margin-top: 5px;
    width: 100%;
    align-self: start;

}

.card-title:first-letter, .card-text:first-letter {
    text-transform: uppercase;
}