:root {
    box-sizing: border-box;
    color: rgb(39, 39, 39);
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

body {
    background-color: rgb(240, 224, 204);
}

header, footer {
    background: linear-gradient(90deg, rgb(238, 255, 0) 2%, rgb(248, 255, 146) 7%, rgb(248, 255, 146) 92%, rgb(255, 238, 0) 100%) ;
}

.header_2 {
    background: linear-gradient(90deg, rgb(238, 255, 0) 2%, rgb(248, 255, 146) 7%, rgb(248, 255, 146) 92%, rgb(255, 238, 0) 100%) ;
    width: 100%;
    padding-bottom: 15px;
}

.carousel {
    padding-top: 15px;
}

.imagenCarousel {
    height: 70px;
}

.carousel-item {
    align-items: center;
}


.img-fluid {
    border-radius: 5px;
    box-shadow: 1px 1px 1px darkblue;
    margin: 5px
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 5px;
}

.btn {
    margin-left: -27px;
    margin-top: 5px;
    width: 100%;
    align-self: start;

}

.btn-retro{
    background-color: lightgoldenrodyellow;
    border-radius: 3px;
    
}

.card-title:first-letter, .card-text:first-letter {
    text-transform: uppercase;
}


.nav-link:hover, .dropdown-item:hover, .btn-retro{
    border-radius: 5px;
    box-shadow: 1px 1px 1px white;
    background: linear-gradient(135deg, rgb(240, 168, 60) 15%, rgb(252, 250, 129) 25%, rgb(253, 149, 149) 100%);
    font-weight: bold;
}

.headerP {
    font-size: 30px;
    margin-left: 30%;
    color: rgb(39, 39, 39);
}

.what {
    position: fixed;
    bottom: 3%;
    right: 3%;
}

#what_img {
    width: 70px;
    box-shadow: 2px 2px 2px black
}

.footerIcon {
    width: 50px;
    height: 50px;
    
}

/*        ------ LOGIN ------- */
.register-photo {
    background: #f1f7fc;
    padding: 80px 0;
}

.register-photo .image-holder {
    display: table-cell;
    width: auto;
    background: url(assets/feriabosque.jpg);
    background-size: cover;
}

.text-info{
    text-decoration: none;
    font-size: smaller;
}

.error {
    color: red;
    
}

.register-photo .form-container {
    display: table;
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.register-photo form {
    display: table-cell;
    width: 400px;
    background-color: #ffffff;
    padding: 40px 60px;
    color: #505e6c;
}

@media (max-width:991px) {
    .register-photo form {
        padding: 40px;
    }
}

.register-photo form h2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px;

}

.register-photo form .form-control {
    background: transparent;
    border: none;
    color:  #61acb3;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 0px;
    height: 40px;
}

.register-photo form .form-check {
    font-size: 13px;
    line-height: 20px;
}

.register-photo form .btn-primary {
    background: #61acb3 ;
    border: none;
    border-radius: 25px;
    padding: 11px;
    box-shadow: none;
    margin-top: 35px;
    text-shadow: none;
    outline: none !important;
}

.register-photo form .btn-primary:hover,
.register-photo form .btn-primary:active {
    background:#61acb3;
}

.register-photo form .btn-primary:active {
    transform: translateY(1px);
}

.register-photo form .already {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none;
}


/* Media media media */
@media (max-width: 610px) {
    .headerP {
        font-size: 15px;
    }
    .imagenCarousel {
        height: 40px;
    }
    .what {
        position: fixed;
        bottom: 3px;
        right: 3px;
        width: 30px;
        box-shadow: 2px 2px 2px black;
        border: 1px solid black;
    
    }
    
}